body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 0;
    background-color: #343a40; 
    border-bottom: 2px solid #d2d3d3; 
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.75rem;
    color: #f8f9fa !important; 
}

.navbar-nav .nav-item .nav-link {
    color: #f8f9fa !important; 
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: #ffc107 !important; 
    text-decoration: underline;
}
.hero {
    background-image: url('https://t4.ftcdn.net/jpg/02/07/02/47/360_F_207024756_CLD2l2Vsn0aXdXjfXOIQlBEfY5VOg50j.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

.hero .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffc107;
    border: none;
    color: #343a40;
}

.hero .btn:hover {
    background-color: #e0a800;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
}
@media (max-width: 767px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .hero .btn {
        font-size: 1rem;
    }
}
